body{
    background: black;
    color: white;
}

.floatLeft{
    float: left;
}

.floatRight{
    float: right;
}

#result{
    font-size: 20px;
}

#top{
    height: 100px;
    padding-left: 10px;
    padding-right: 10px;
}

#main{
    height: 780px;
    padding-left: 300px;
    padding-right: 300px;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
}

#footer{
    height: 30px;
    text-align: center;
    line-height: 30px;
}