body{
    background: black;
    color: white;
}

.floatLeft{
    float: left;
}

.floatRight{
    float: right;
}

.button{
    background-color: black;
    border: 3px solid darkgray;
    color: darkgray;
    padding: 10px 24px;
    font-weight: bold;
}

.button:hover{
    background-color: darkgray;
    color: black;
    font-weight: bolder;
}

#top{
    min-height: 100px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "Courier New", monospace;
}

#main{
    min-height: 525px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    font-family: "Courier New", monospace;
}

#footer{
    padding-top: 20px;
    bottom: auto;
}